{% load static%}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{%static 'chat/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&family=Rubik:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="navbar" id="navbar">

        <a href="../chat" class="btn-13">
            <img src="{%static 'chat/ai.png'%}" alt="Чат" class="icon"> Чат
        </a>
        <a href="../profile/" class="btn-13">
            <img src="{%static 'chat/user.png'%}" alt="Профиль" class="icon">Профиль
        </a>
        <a href="#" class="btn-13">
            <img src="{%static 'chat/books-stack-of-three.png'%}" alt="Предметы" class="icon">Предметы
        </a>
        <a href="../news/" class="btn-13">
            <img src="{%static 'chat/megaphone.png'%}" alt="Новости" class="icon">Новости
        </a>
    </div>
    <div class="chat-container">
        <div class="chat-messages" id="chat-messages"></div>
        <form id="chat-form" class="chat-input" method="post">
            {% csrf_token %}
            <label for="user-message"></label>
            <input type="text" id="user-message" placeholder="Введите ваше сообщение">
            <button type="button" id="send-button">Отправить</button>
        </form>
    </div>
    
    <div class="menu-btn" onclick="toggleNavbar()">☰</div>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <script src="{%static 'chat/ajax.js'%}"></script>



</body>
<script>
    function toggleNavbar() {
        var navbar = document.getElementById('navbar');
        var navbar = document.getElementById('navbar');
        var clickPos = event.clientX;
        var navbarRightPos = navbar.getBoundingClientRect().right;
        if (navbar.style.left === "" || navbar.style.left === "-300px" ) {
            navbar.style.left = "-70px";
            
        } else {
            navbar.style.left = "-300px";
        }
    }
</script>
</html>